#title,
#subtitle {
  text-align: center;
}
#subtitle {
  padding-bottom: 25px;
  border-bottom: 3px dotted;
  border-width: 1px;
}
.loginPageContainer {
  display: flex;
  justify-content: space-around;
}
.loginContainer,
.searchLeaderboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px double #333;
  border-radius: 30px;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
#loginButton,
#searchButton {
  margin-top: 5px;
}
.loginForm,
.searchForm {
  display: flex;
  flex-direction: column;
}
.loginInput,
.searchInput {
  border-radius: 10px;
  text-align: center;
}
.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.alert-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.messages {
  text-align: center;
}

@media (max-width: 600px) {
  .loginPageContainer {
    display: flex;
    flex-direction: column;
  }
  .loginContainer,
  .searchLeaderboardContainer {
    margin: 1.5rem;
  }
  .loginInput,
  .searchInput {
    font-size: 1rem;
  }
}
@media (max-width: 900px) and (min-width: 601px) {
  .loginContainer,
  .searchLeaderboardContainer {
    margin: 0.5rem;
    font-size: 1rem;
  }
}
