{% extends 'lof/index.html' %}{% block body %}
<h1>{{leaderboard_name}}</h1>
<h2>Add player</h2>
<form method="POST">
  {% csrf_token %}
  <select name="region">
    <option value="EUN1">Europe Nordic & East</option>
    <option value="BR1">Brazil</option>
    <option value="EUW1">Europe West</option>
    <option value="JP1">Japan</option>
    <option value="KR">Korea</option>
    <option value="LA1">Latin America North</option>
    <option value="LA2">Latin America South</option>
    <option value="NA1">North America</option>
    <option value="OC1">Oceania</option>
    <option value="PH2">Philippines</option>
    <option value="RU">Russia</option>
    <option value="SG2">Singapore</option>
    <option value="TH2">Thailand</option>
    <option value="TR1">Turkiye</option>
    <option value="TW2">Taiwan</option>
    <option value="VN2">Vietnam</option>
  </select>
  <input type="text" name="username" placeholder="Username" />
  <input type="text" name="tag" placeholder="Tag" />
  <label
    style="
      color: white;
      background-color: darkolivegreen;
      border-color: black;
      border-style: solid;
      border-width: 2.5px;
      margin: 5px;
    "
  >
    <input type="checkbox" name="solo_duo" />
    S/D
  </label>
  <label
    style="
      color: white;
      background-color: darkolivegreen;
      border-color: black;
      border-style: solid;
      border-width: 2.5px;
      margin: 5px;
    "
  >
    <input type="checkbox" name="flex" />
    Flex
  </label>
  <label
    style="
      color: white;
      background-color: darkolivegreen;
      border-color: black;
      border-style: solid;
      border-width: 2.5px;
      margin: 5px;
    "
  >
    <input type="checkbox" name="tft" />
    TFT
  </label>
  <button type="submit" name="add_player">Add player!</button>
</form>
<div>
  <div>
    <ul>
      {% for player in solo_duo_players %}
      <li>{{player}}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <ul>
      {% for player in flex_players %}
      <li>{{player}}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <ul>
      {% for player in tft_players %}
      <li>{{player}}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<a href="{% url 'firstpage' %}">BACK TO MAIN PAGE</a>
{% endblock body %}
