{% extends 'lof/index.html' %}{% block body %}
<h1>{{leaderboard_name}}</h1>
<h2>Add player</h2>
{% if error_message %}
<h3>{{error_message}}</h3>
{% endif %}
<form method="POST">
  {% csrf_token %}
  <select name="region">
    <option value="EUN1">Europe Nordic & East</option>
    <option value="BR1">Brazil</option>
    <option value="EUW1">Europe West</option>
    <option value="JP1">Japan</option>
    <option value="KR">Korea</option>
    <option value="LA1">Latin America North</option>
    <option value="LA2">Latin America South</option>
    <option value="NA1">North America</option>
    <option value="OC1">Oceania</option>
    <option value="PH2">Philippines</option>
    <option value="RU">Russia</option>
    <option value="SG2">Singapore</option>
    <option value="TH2">Thailand</option>
    <option value="TR1">Turkiye</option>
    <option value="TW2">Taiwan</option>
    <option value="VN2">Vietnam</option>
  </select>
  <input type="text" name="username" placeholder="Username" />
  <input type="text" name="tag" placeholder="Tag" />
  <label
    style="
      color: white;
      background-color: darkolivegreen;
      border-color: black;
      border-style: solid;
      border-width: 2.5px;
      margin: 5px;
    "
  >
    <input type="checkbox" name="solo_duo" />
    S/D
  </label>
  <label
    style="
      color: white;
      background-color: darkolivegreen;
      border-color: black;
      border-style: solid;
      border-width: 2.5px;
      margin: 5px;
    "
  >
    <input type="checkbox" name="flex" />
    FLEX
  </label>
  <label
    style="
      color: white;
      background-color: darkolivegreen;
      border-color: black;
      border-style: solid;
      border-width: 2.5px;
      margin: 5px;
    "
  >
    <input type="checkbox" name="tft" />
    TFT
  </label>
  <button type="submit" name="add_player">Add player!</button>
</form>

<div>
  <div>
    <form method="POST">
      {% csrf_token %}
      <button style="margin-top: 10px" type="submit" name="remove_player">REMOVE PLAYERS!</button>
      <h3>Solo/Duo</h3>
      <button type="submit" name="update_sd_leaderboard" value="update_sd">Update</button>
    <ul>
      {% for player in solo_duo_players %}
      <div style="display: flex; align-items: center">
        <li style="margin-right: 10px">{{player}}</li>
        <label
          style="
            color: white;
            background-color: darkolivegreen;
            border-color: black;
            border-style: solid;
            border-width: 2.5px;
            margin: 5px;
            display: flex;
            align-items: center;
          "
        >
          <input style="margin-left: 5px" type="checkbox" name="sd_players" value="{{player.0}}" />
          Remove player!
        </label>
      </div>
      {% endfor %}
    </ul>

    <h3>FLEX</h3>
      <button type="submit" name="update_flex_leaderboard" value="update_flex">Update</button>
    <div>
      <ul>
        {% for player in flex_players %}
        <div style="display: flex; align-items: center">
          <li style="margin-right: 10px">{{player}}</li>
          <label
            style="
              color: white;
              background-color: darkolivegreen;
              border-color: black;
              border-style: solid;
              border-width: 2.5px;
              margin: 5px;
              display: flex;
              align-items: center;
            "
          >
            <input style="margin-left: 5px" type="checkbox" name="flex_players" value="{{player.0}}" />
            Remove player!
          </label>
        </div>
        {% endfor %}
      </ul>
    </div>
    <h3>TFT</h3>
      <button type="submit" name="update_tft_leaderboard" value="update_tft">Update</button>
    <div>
      <ul>
        {% for player in tft_players %}
        <div style="display: flex; align-items: center">
          <li style="margin-right: 10px">{{player}}</li>
          <label
            style="
              color: white;
              background-color: darkolivegreen;
              border-color: black;
              border-style: solid;
              border-width: 2.5px;
              margin: 5px;
              display: flex;
              align-items: center;
            "
          >
            <input style="margin-left: 5px" type="checkbox" name="tft_players" value="{{player.0}}" />
            Remove player!
          </label>
        </div>
        {% endfor %}
      </ul>
      </form>
    </div>
  </div>
  <a href="{% url 'firstpage' %}">BACK TO MAIN PAGE</a>
  {% endblock body %}
</div>
